if typeof errors !== 'undefined'
  each error in errors
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      strong= error.msg 
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;

if success_msg != ''
  .alert.alert-success.alert-dismissible.fade.show(role='alert')
      strong= success_msg 
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;

if error_msg != ''
  .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      strong= error_msg 
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;
if error != ''
  .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      strong= error 
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;